/* styles.css */
body {
    background-color: white;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

p {
    color:red;
}